* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans';
}

body {
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    width: 95%;
    max-width: 800px;
    margin: 30px auto; 
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}


.title-personagem {
    color: white;
    text-align: center;
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-person {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.lista {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    list-style: none;
}

.sub-info {
    color: white;
    margin: 20px;
    text-align: center;
}


.texto {
    color: white;
    font-size: 20px;
    text-indent: 30px;
    list-style: none;
}

.btn-voltar {
    background: #f44336;
    font-size: 15px;
    padding: 10px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-voltar a {
    color: white;
    text-decoration: none;
    display: block;
}

.btn-voltar:hover {
    background: blue;
    color: white;
    transition: all .6s ease-in-out;
}
